<h1>General Files</h1>
<h5>Upload files here to share with team members</h5>

<h5>Select one or more files and right-click to open the context menu</h5>
<h5>
  Enter a search value to filter by filename, or click on the tags to filter by
  tag
</h5>

<!-- If filtering by context or status, these buttons will be present -->
<button
  class="context"
  [ngClass]="context"
  *ngIf="context"
  pButton
  type="button"
  (click)="clearContext()"
>
  {{ context }}<i class="pi pi-check"></i>
</button>

<button
  class="status"
  [ngClass]="status"
  *ngIf="status"
  pButton
  type="button"
  (click)="clearStatus()"
>
  {{ status }}<i class="pi pi-check"></i>
</button>

<p-tree
  [value]="treeNodes"
  [draggableNodes]="true"
  [droppableNodes]="true"
  draggableScope="self"
  droppableScope="self"
  selectionMode="checkbox"
  styleClass="treeclass"
  [filter]="true"
  filterMode="strict"
  [contextMenu]="cm"
  [validateDrop]="true"
  (onNodeDrop)="nodeDrop($event)"
  (onNodeSelect)="nodeSelect($event)"
  (onNodeUnselect)="nodeUnselect($event)"
  [(selection)]="selectedFiles"
>
  <!-- Used for the nodes that are files -->
  <ng-template pTemplate="empty">
    <div
      style="
        padding: 2em;
        font-size: 2em;
        color: #ddd;
        text-align: center;
        font-style: oblique;
      "
    >
      <p>No files.</p>
      <p>Drop files here to upload.</p>
    </div>
  </ng-template>
  <ng-template let-node pTemplate="file">
    <div class="leaf">
      <p>{{ node.label }}</p>
      <div class="details">
        <p>{{ node.data.created_at }}</p>
        <span
          *ngIf="node.data.admin_status"
          class="tag status"
          [ngClass]="node.data.admin_status"
          (click)="filterStatus(node.data.admin_status)"
          >{{ node.data.admin_status }}</span
        >
        <span *ngIf="node.data.label" class="tag label">{{
          node.data.label
        }}</span>
        <span
          *ngIf="node.data.context"
          class="tag context"
          [ngClass]="node.data.context"
          (click)="filterContext(node.data.context)"
          >{{ node.data.context }}</span
        >
      </div>
    </div>
  </ng-template>
  <!-- Used for the nodes that are branches -->
  <ng-template let-node pTemplate="default">
    <p class="branch">{{ node.label }}</p>
  </ng-template>
</p-tree>
<div button-row>
  <button class="expand-button" pButton (click)="expandToggle(true)">
    Expand all<i class="pi pi-folder-open"></i>
  </button>
  <button class="expand-button" pButton (click)="expandToggle(false)">
    Collapse all<i class="pi pi-folder"></i>
  </button>
</div>

<!-- Context menu for tree items -->
<p-contextMenu #cm [model]="menuItems"></p-contextMenu>

<!-- Dialog for adding a folder -->
<p-dialog
  [(visible)]="addFolderDialogVisible"
  [modal]="true"
  closeable="true"
  (onHide)="addFolderHide()"
  header="Add a folder"
>
  <input
    type="text"
    placeholder="Folder name"
    [(ngModel)]="foldername"
    pInputText
  />
  <button pButton (click)="addFolder()" [disabled]="foldername === ''">
    Add
  </button>
</p-dialog>

<p-toast></p-toast>
