.leaf {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  line-height: .75em;
}

.branch {
  font-weight: bold;
}

.details {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  line-height: 18px;
  color: #999;
}

span.tag {
  display: inline-block;
  margin-left: 5px;
  padding: 3px 5px;
  height: 18px;
  color: #fff;
  font-size: 8px;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 4px;
}
span.new {
  background-color: green;
}

span.label {
  background-color: #666;
  cursor: pointer;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.expand-button {
  font-size: .75em;
  margin: 10px 10px 10px 0px;
  height: 20px;
  outline: none;
  border: none;
  color: grey;
  i {
    margin-left: 10px;
  }
}

button.context {
  background-color: #999;
  color: white;
  margin-right: 10px;
  outline: none;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  height: 25px;
  margin-bottom: 20px;
  &.accounts {
    background-color: blue;
    color: white;
  }
  &.data {
    background-color: teal;
  }
  &.vg {
    background-color: purple;
  }
  &.vr {
    background-color: orange;
  }
  &.packages {
    background-color: turquoise;
  }
}

button.status {
  background-color: #999;
  color: white;
  margin-right: 10px;
  outline: none;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  height: 25px;
  margin-bottom: 20px;
  &.new {
    background-color: green;
  }
  &.downloaded {
    background-color: brown;
  }
  &.archived {
    background-color: red;
  }
}

span.status {
  background-color: #999;
  cursor: pointer;
  &.new {
    background-color: green;
  }
  &.downloaded {
    background-color: brown;
  }
  &.archived {
    background-color: red;
  }
}

span.context {
  background-color: #999;
  cursor: pointer;

  &.accounts {
    background-color: blue;
  }
  &.data {
    background-color: teal;
  }
  &.vg {
    background-color: purple;
  }
  &.vr {
    background-color: orange;
  }
  &.packages {
    background-color: turquoise;
  }

}
