<h1>General Files</h1>
<h5>Upload files here to share with team members</h5>

<h5>Select one or more files and right-click to open the context menu</h5>

<p-tree [value]="treeNodes"
  [draggableNodes]="true"
  [droppableNodes]="true"
  draggableScope="self"
  droppableScope="self"
  selectionMode="checkbox"
  [contextMenu]="cm"
  [(selection)]="selectedFiles">
  <!-- Used for the nodes that are files -->
  <ng-template let-node pTemplate="file">
    <div class="leaf">
      <p>{{node.label}}</p>
      <div class="details">
        <p>{{node.data.date}}</p>
        <span *ngIf="node.data.status === 'new'" class="tag new">New</span>
        <span
          *ngIf="node.data.label"
          class="tag label"
          >{{ node.data.label }}</span
        >
        <span
          *ngIf="node.data.context"
          class="tag context"
          [ngClass]="node.data.context"
          >{{ node.data.context }}</span
        >
      </div>
    </div>
  </ng-template>
  <!-- Used for the nodes that are branches -->
  <ng-template let-node pTemplate="default">
    <p class="branch">{{node.label}}</p>
  </ng-template>
</p-tree>

<p-contextMenu #cm [model]="menuItems"></p-contextMenu>

